local
bin
include
/lib
python2.7
/build
/nltk_data
config.conf
results.txt
*.pyc
*~
*.#*
*#*
*.bak
*log
*.class
*.jar
seeds_generator/target/*
seeds_generator/conf/queries.txt
ranking/D_cbow_pdw_8B.pkl
data/
vis/html/models/
