{% extends 'base.html' %}

{% block content %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css">
  <link rel="stylesheet" href="bootstrap-datetimepicker-4.15.35/css/bootstrap-datetimepicker.min.css">

  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>

  <div class="container-fluid">
    <div class="col-md-4">
      <div class="panel-body">
        <div id="queries">{{ widgets_div['queries'] | safe }}</div>
        <div id="tags">{{ widgets_div['tags'] | safe }}</div>
        <div id="urls">{{ widgets_div['urls'] | safe }}</div>
        <div id="tlds">{{ widgets_div['tlds'] | safe }}</div>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker_start'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker_end'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div id="plot_area">
      {% include 'cross_filter_plot_area.html' %}
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="js/libs/moment.js"></script>
  <script type="text/javascript" src="bootstrap-datetimepicker-4.15.35/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#datetimepicker_start').datetimepicker();
      $('#datetimepicker_end').datetimepicker({
          useCurrent: false //Important! See issue #1075
      });
      $("#datetimepicker_start").on("dp.change", function (e) {
          $('#datetimepicker_end').data("DateTimePicker").minDate(e.date);
      });
      $("#datetimepicker_end").on("dp.change", function (e) {
          $('#datetimepicker_start').data("DateTimePicker").maxDate(e.date);
      });
    });
  </script>
{% endblock content %}
