{% extends 'base.html' %}

{% block content %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css">

  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
  {{ widgets_script|safe }}
  {{ plots_script|safe }}

  <div class="container">
    <div class="panel panel-default col-md-5">
      <div class="panel-heading">Cross Filter Widgets</div>
      <div id="urls" class="panel-body plot">{{ widgets_div['urls'] | safe }}</div>
      <div id="tlds" class="panel-body plot">{{ widgets_div['tlds'] | safe }}</div>
    </div>
    <div class="panel panel-default col-md-7">
      <div class="panel-heading">Cross Filter Charts</div>
      <div class="panel-body plot">{{ plots_div['bar'] | safe }}</div>
      <div class="panel-body plot">{{ plots_div['ts'] | safe }}</div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/cross_filter.js"></script>

{% endblock content %}
