
/* Bootstrap/Bootflat overhides */
body {
  background-color: rgb(241, 242, 246);
  /*margin-top:20px;*/
  color: #333;
  padding-top:70px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
p, div {
  font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.panel {
  border-radius: 2px;
  border: 0;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  height: 20px;
}
.panel-heading {
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default>.panel-heading>.panel-title>.panel-heading-left{
  float:left;
}

.panel-default>.panel-heading>.panel-title>.panel-heading-right{
  float:right;
}

.form-search .btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
.form-search .search-query, .form-search .search-query:first-child, .form-search .search-query:last-child {
  padding: 0 17px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.container-fluid {
    max-width: 1500px;
}

.status_box{
  display: none;
  border-radius: 1px;
  background-color: rgba(246,187,66, 0.75);
  border: 0;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  width: 20em;
  text-align:center;
  position: fixed;
  top: 0px;
  left: 40%;
  right: -60%;
    z-index: 9999;
}
.status_box>.status_panel{
  border-radius: 1px;
  margin: 2px
}



/*
body {
  font: 14px Verdana;
  font-family: 'Roboto Light', sans-serif;
  background: white;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  text-align:justify;
  text-justify:inter-word;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

body.cursorwait {
  cursor: wait;
}

div {
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  margin: 5px;
}

#page_container {
  width: 1280px;
  margin: 0 auto;
}

#page_container > div {
  display: inline-block;
  vertical-align: top;
}

#left_panel {
  width: 285px;
  margin-top: 10px;
  font-size: 25px;
}

#left_panel > div {
  margin-bottom: 10px;
  background: #f9f9f9;
  padding: 10px;
}

#middle_panel {
  width: 680px;
  margin: 10px 8px 0px 8px;
  background: #f9f9f9;
  font-size: 25px;
  padding: 10px;
  z-index: 0;
}

#right_panel {
  width: 250px;
  margin-top: 10px;
  background: #f9f9f9;
  font-size: 25px;
  padding: 10px;
}


#seed_crawler_info {
  text-align: left;
  height: 300px;
}

#crawler_info {
  height: 300px;
}

#selectCrawler {
  -webkit-appearance: menulist-button;
  margin-top: 10px;
  height: 30px;
  font-size: 12px;
}
*/

#selectProjectionAlgorithm {
  -webkit-appearance: menulist-button;
  margin-top: 0px;
  margin-left: 10px;
  height: 30px;
  font-size: 12px;
}

#filter_cap_select {
  -webkit-appearance: menulist-button;
  margin-top: 0px;
  height: 30px;
  font-size: 12px;
}

#page_retrieval_criteria_select {
  -webkit-appearance: menulist-button;
  margin-top: 0px;
  height: 30px;
  font-size: 12px;
}


#queryCheckBox {
    list-style: none;
    padding: 0;
}

#wordlist {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

#wordlist svg {
  width: 100%;
}

#wordlist svg text {
  font: 12px sans-serif;
  fill: #444;
  text-anchor: start;
  alignment-baseline: start;
  font-weight: bold;
}

#wordlist.seedcrawler svg text.Relevant,
#wordlist.seedcrawler svg text.Positive {
  fill: rgb(19, 72, 186);
}

#wordlist.seedcrawler svg text.Irrelevant,
#wordlist.seedcrawler svg text.Negative {
  fill: rgb(244, 68, 110);
}

#wordlist svg rect {
  stroke: none;
  fill: none;
}

#wordlist svg rect.interaction {
  stroke: none;
  fill: #ddd;
  fill-opacity: 0;
  cursor: pointer;
}

#wordlist svg rect.background {
  stroke: none;
  fill: #ddd;
}

#wordlist svg g.row {
  height: 40px;
}

#wordlist svg g.bar {
  width: 70px;
}

#wordlist svg rect.neg {
  fill: rgb(244, 68, 110);
}

#wordlist svg rect.pos {
  fill: rgb(19, 72, 186);
}

#add_term_box{
  margin: 0px 2px 0px 2px;
  border-top: 1px solid #EAEAEA;
  padding-top: 10px;

}

#customwordlist {
  margin: 0px 2px 0px 2px;
  border-top: 1px solid #EAEAEA;
  padding-top: 10px;

  width: 100%;
  height: 100px;
  overflow-y: scroll;
}

#customwordlist svg {
  width: 100%;
}

#customwordlist svg text {
  font: 12px sans-serif;
  fill: #444;
  text-anchor: middle;
  alignment-baseline: middle;
  font-weight: bold;
}

#customwordlist.seedcrawler svg text.Relevant,
#customwordlist.seedcrawler svg text.Positive {
  fill: rgb(19, 72, 186);
}

#customwordlist.seedcrawler svg text.Irrelevant,
#customwordlist.seedcrawler svg text.Negative {
  fill: rgb(244, 68, 110);
}

#customwordlist svg rect {
  stroke: none;
  fill: none;
}

#customwordlist svg rect.interaction {
  stroke: none;
  fill: #ddd;
  fill-opacity: 0;
  cursor: pointer;
}

#customwordlist svg rect.background {
  stroke: none;
  fill: #ddd;
}

#customwordlist svg g.row {
  height: 40px;
}

#customwordlist svg g.bar {
  width: 70px;
}

#customwordlist svg rect.neg {
  fill: rgb(244, 68, 110);
}

#customwordlist svg rect.pos {
  fill: rgb(19, 72, 186);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.statslist.seedcrawler {
  width: 100%;
  height: 190px;
}

.statslist {
  width: 100%;
  height: 190px;
}

.statslist svg {
    width: 100%;
    height: 100%;
}
/*
.statslist svg text.caption {
    font: 16px sans-serif;
    color: #444;
    text-anchor: start;
    alignment-baseline: middle;
}
.statslist svg text.title {
    font: 14px sans-serif;
}
*/

svg text {
  fill: #333;
}
.statslist svg rect.interaction {
    stroke: none;
    fill: #ddd;
    fill-opacity: 0;
}

.statslist svg rect.Explored {
    stroke: lightgray;
}

.statslist svg rect.Exploited {
    stroke: lightgray;
    mask: url(#mask-stripe);
}

.statslist svg rect.Neutral,
.statslist svg rect.New {
    stroke: lightgray;
    fill-opacity: 0.2;
}

.statslist svg rect.Neutral.New {
    stroke: lightgray;
    mask: url(#mask-stripe);
}

.statslist svg g.row {
    height: 40px;
}

.statslist svg g.bar {
    width: 70px;
}

.statslist g.bar.Positive rect,
.statslist g.bar.Relevant rect {
  fill: rgb(19, 72, 186);
}

.statslist g.bar.Negative rect,
.statslist g.bar.Irrelevant rect {
  fill: rgb(244, 68, 110);
}

.statslist .numericalData {
    font-size: 14px;
    opacity: 1;
    text-anchor: end;
}

.statslist .numericalData.New {
    font-weight: bold;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pages_landscape_container > div {
  display: inline-block;
  margin-top: 5px;
  height: 360px;
  max-width: 99%;
}

#pages_landscape {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  box-shadow: 0 0 2px 2px #EAEAEA;
  background: white;
  width: 100%;
  padding: 10px;
  height: auto;
  min-height: 400px;
}

#pages_landscape {
  margin: 5px 0px 10px 5px;
  cursor: pointer;
}

#pages_landscape circle {
  fill: #bbb;
  stroke-width: 1;
}

#pages_landscape circle.Positive {
  stroke: #0D49A9;
  stroke-width: 2;
  fill-opacity: 0;
}

#pages_landscape circle.Negative {
  stroke: rgb(203, 50, 103);
  stroke-width: 2;
  fill-opacity: 0;
}

#pages_landscape circle.Relevant {
  fill: #4B8DF8;
  stroke-width: 1;
}

#pages_landscape circle.Irrelevant {
  fill: rgb(244, 68, 110);
  stroke-width: 1;
}

#pages_landscape circle.Positive.Relevant,
#pages_landscape circle.Positive.Irrelevant,
#pages_landscape circle.Negative.Relevant,
#pages_landscape circle.Negative.Irrelevant {
  fill-opacity: 1;
}
/*
#last_update_info_box {
  display: inline-block;
  width: 180px;
  font-size: 12px;
  margin-left: 186px;
  text-align: right;
}

#last_update_info_box.seedcrawler {
  margin-left: 228px;
}

#pages_landscape_buttons {
  margin-right: 10px;
}
*/
.button-img {
  /*height: 100%;*/
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 5px 0px 5px;
  margin-left: 5px;
  line-height: 20px;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px #ACACAC;
}

.button-img.enabled {
  background: #FECD57;
}

.button-img.enabled:hover {
  box-shadow: 0 0 2px 2px #ACACAC;
}

.button-img.disabled {
  opacity: 0.2;
}

.button-img.disabled:hover {
  box-shadow: 0;
  cursor: not-allowed;
}

div.tooltip {
  display: inline-block;
  position: absolute;
  text-align: center;
  /*height: 12px;*/
  padding: 8px;
  font: 12px sans-serif;
  background: #555;
  border: solid 1px #333;
  border-radius: 8px;
  pointer-events: none;
  color: white;
  z-index: 9999;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width: 1.5px;
}

.lasso .drawn {
  fill-opacity: .05 ;
}

.lasso .loop_close {
  fill-opacity: .05 ;
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

#tags_items {
  width: 100%;
  overflow-y: scroll;
  padding: 5px
}

#tags_items .item {
  width: 110px;
  font-size: 14px;
  color: gray;
  /* height: 15px; */;
  margin: 0px 0px 5px 5px;
  /*padding-left: 7px;*/
  background: white;
  box-shadow: 0 0 2px 2px #EAEAEA;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
  padding: 5px;
  float:right;
}

#tags_items .item:hover {
  box-shadow: 0 0 2px 2px #aaa;
  color: rgba(0, 0, 0, 0.85);
}

#tags_items .item.selected {
  box-shadow: 0 0 2px 2px #999;
  color: rgba(0, 0, 0, 0.85);
}

#tags_items .item img {
  margin-top: 2px;
  margin-right: 5px;
}

#tags_items .item img.clickable {
  opacity: 0.3;
}

#tags_items .item img.not-clickable {
  opacity: 0.0;
}

#tags_items .item img.clickable.focus {
  display: inline-block;
  opacity: 1;
}

#tags_items .item img.clickable.focus:hover {
  background: #FECD57;
}

/*

#pages_panel {
  display: inline-block;
  margin-top: 5px;
  overflow-y: scroll;
  width: 100%;
  height: 480px;
}
#pages_items {
  width: 100%;
  font-size: 12px;
}

#pages_items .item {
  display: inline-block;
  width: 660px;
  height: 100px;
  margin: 5px 0px 0px 5px;
  padding: 5px;
  border-top: 1px solid #EAEAEA;
  cursor: pointer;
  background-color: #fcfcfc;
}
*/

#pages_items
{
  height: 500px;
  overflow-y: scroll;
}


#pages_items .item .item_info {
  height: 100%;
  overflow: hidden;
}

#pages_items .item .item_info h3 {
  font-weight: normal;
  margin-top: 7px;
  margin-left: 5px;
  display: inline-block;
}

#pages_items .item .tags {
  vertical-align: top;
  float: right;
  display: inline-block;
  margin-top: 7px;
  margin-right: 5px;
}

#pages_items .item .tag {
  vertical-align: top;
  padding: 5px;
  display: inline-block;
  height: 30px;
  box-shadow: 0 0 1px 1px #EAEAEA;
  margin: -1px 0 5px 6px;
}


#pages_items .item .tag .not-clickable {
  cursor: default;
}

#pages_items .item .tag img.not-clickable {
  opacity: 0;
}

#pages_items .item .tag img.clickable {
  opacity: 0.3;
}

#pages_items .item .tag img.clickable.focus {
  display: inline-block;
  opacity: 1;
}

#pages_items .item .tag img.clickable.focus:hover {
  background: #FECD57;
}

#pages_items .item .selectTag {
  margin-top: 3px;
}


div#mask,
div#urlBgMask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #555;
}

div#mask {
  opacity: 0;
  z-index: 9998;
}

div#urlBgMask {
  opacity: 0.8;
  z-index: 999;
}

#urlPreview {
  display: block;
  position: fixed;
  left: 360px;
  z-index: 9999;
  width: 800px;
  height: 600px;
  background: white;
}

#terms_snippets_viewer {
  margin-top: 8px;
  vertical-align: top;
  width: 100%;
  height: 450px;
  overflow-y: scroll;
  font-size: 14px;
  padding-top: 10px;
}

#terms_snippets_viewer .item {
  margin: 0px 2px 0px 2px;
  border-top: 1px solid #EAEAEA;
  padding-top: 10px;
}

#terms_snippets_viewer .item p {
  font-weight: normal;
  padding: 2px;
}

#terms_snippets_viewer .item p em {
  font-weight: bold;
  font-style: normal;
  color: #000;
}

#terms_snippets_viewer.seedcrawler .item p em.Positive,
#terms_snippets_viewer.seedcrawler .item p em.Relevant {
  color: rgb(19, 72, 186);
}

#terms_snippets_viewer.seedcrawler .item p em.Negative,
#terms_snippets_viewer.seedcrawler .item p em.Irrelevant {
  color: rgb(244, 68, 110);
}

/*
#query_panel ,
#filter_panel {
  text-align: left;
}

#query_panel {
  height: 468px;
}

#filter_panel {
  height: 468px;
}
*/
/*
.query_input {
  margin-right: 2px;
  width: 222px;
  height: 30px;
  font-size: 14px;
  text-indent: 5px;
  padding: 0;
  border: 1px solid #999;
  background-color: #fcfcfc;
}

#query_box {
  margin-bottom: 40px;
}

#submit_query,
#submit_filter {
  background: url("../img/search.png") no-repeat scroll center center #FECD57;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  height: 28px;
  text-indent: -99999em;
  transition: background 0.3s ease-in-out 0s;
  margin-top: 2px;
  width: 35px;
  border: 2px solid #fff;
}

#submit_query:hover,
#submit_filter:hover {
  border: 2px solid #2F5BB7;
}

#filter_statslist {
  margin-top: 10px;
}
*/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

#filter_cap {
  /* height: 40px; */
  margin: 10px 0;
}

#filter_cap > * {
  display: inline-block;
  padding-left: 5px;
}

#filter_cap h3 {
  font-size: 16px;
  font-weight: normal;
}

#filter_cap select {
    top-margin: 5px;
    /*width: 180px;*/
}


.urlive-container {
  font-size: inherit;
}
.urlive-title, .urlive-description {
  display:block;
}
.urlive-description {
  max-height: 50px;
  margin-bottom: 5px;

  /* Truncate text into 4 lines */
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 14px*1.4*4; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 14px;
  line-height: inherit;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.urlive-title {
  margin-bottom: 6px;
}
.urlive-url {
  display: none;
}

.item-url {
    font-style: italic;
}
.item-url a {
  color: #003D54;
}

/*

#terms_panel {
  width: 540px;
  height: 400px;
}

h1 {
  padding-left: 12px;
  font-size: 25px;
  font-weight: normal;
}

#pages_landscape_container {
  width: 550px;
}

#pages_panel_container {
  width: 690px;
}

#pages_landscape_container,
#pages_panel_container {
  vertical-align: top;
  display: inline-block;
}

#pages_landscape_buttons,
#pages_terms_buttons,
#pages_items_buttons {
  width: 100%;
  height: 20px;
}

#pages_landscape_buttons {
  margin-left: 5px;
}

#pages_terms_buttons,
#pages_items_buttons {
  margin-left: 15px;
}

#snippets_viewer {
  width: 690px;
  height: 400px;
  margin: 0px 10px 10px 5px;
  overflow-y: scroll;
}

#clusters_count_slider {
  width: 120px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#clusters_count_text {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

#topicsMaps {
  width: 400px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.topics_map_container {
  width: 380px;
  height: 250px;
  background: #f3f3f3;
}

#pos_topics_map_container {
  margin-right: 20px;
  margin-bottom: 200px;
}

#neg_topics_map_container {
  margin-left: 20px;
}

.bubble {
  stroke: #fff;
  stroke-opacity: 0.9;
  fill: #1F2AFF;
  fill-opacity: 0.6;
  cursor: pointer;
}

#pos_topics_map_container .bubble {
  fill: #0072E8;
}

#neg_topics_map_container .bubble {
  fill: #e00;
}

.topicsPanel {
  width: 300px;
  height: 100%;
  background: #f3f3f3;
  display: inline-block;
}

.tagCloudsPanel {
  width: 100%;
  height: 100%;
}

.tagCloudsPanel .term {
  cursor: pointer;
}

.termite {
  width: 100%;
  height: 540px;
  background: #f3f3f3;
}

.heatmap {
  width: 150px;
  height: 160px;
  background: #f3f3f3;
  margin: 0 auto;
}

.heatmap .cell {
  cursor: pointer;
}

.axis .tick path,
.axis .tick line {
  stroke: #D3D3D3;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.termite svg circle.cell {
    stroke-opacity: 0.9;
    fill-opacity: 0.2;
}

.termite svg line.rowLine,
.termite svg line.colLine {
    stroke: black;d
    stroke-opacity: 0.6;
    stroke-width: 0.3;
    fill-opacity: 0.1;
}

.heatmap svg text.title,
.termite svg text.title {
    text-anchor: middle;
    font-size: 14pt;
    alignment-baseline: middle;
}

.termite svg text.rowLabel {
    text-anchor: end;
    alignment-baseline: middle;
    cursor: pointer;
    font-size: 8pt;
}

.termite svg text.colLabel {
    text-anchor: start;
    transform: rotate(-65deg);
    cursor: pointer;
    font-size: 8pt;
}


#terms_items {
  overflow: hidden;
}

.terms_items_list {
  display: inline-block;
  width: 180px;
  height: 390px;
  background: gray;
  overflow-y: scroll;
}

#pages_items .item.positive,
#terms_items .item.positive {
  box-shadow: 0 0 2px 2px rgb(19, 72, 186);
}

.button.positive {
  background: #4B8DF8;
  color: white;
}

.button.negative {
  background: rgb(244, 68, 110);
  color: white;
}

.button.neutral {
  background: #999;
  color: white;
}

#pages_items .item.negative,
#terms_items .item.negative {
  box-shadow: 0 0 2px 2px rgb(244, 68, 110);
}

#snippets_viewer .item {
  margin: 0px 15px 10px 15px;
}

#snippets_viewer .item p {
  background: #efefef;
  font-weight: normal;
}

#snippets_viewer .item p em {
  font-weight: bold;
  font-style: normal;
  color: #000;
}

#snippets_viewer .item p em.positive {
  color: rgb(19, 72, 186);
}

#snippets_viewer .item p em.negative {
  color: rgb(244, 68, 110);
}

/*#pages_items .item img {
  width: 100;
  height: 130px;
  box-shadow: 0 0 2px 2px #EAEAEA;
}*

#pages_items .item .item_info {
  height: 100%;
  overflow: hidden;
}

#terms_items .item {
  display: inline-block;
  width: 119px;
  height: 25px;
  margin: 5px 10px 10px 5px;
  background: #f3f3f3;
  box-shadow: 0 0 2px 2px #EAEAEA;
  border-radius: 5px;
  cursor: pointer;
}

#terms_items .item p {
  margin: 5px;
}

#charts_panel div {
  background: rgba(240, 240, 240, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow:0 0 1px 1px #777;
}

.line_chart {
  stroke: none;
  fill: black;
}

.line_chart .axis path, .line_chart .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.line_chart .line {
  fill: none;
  stroke: #A5B3D6;
  stroke-width: 1.0px;
}

.line_chart path.area {
  fill: #EAEDFA;
}

.line_chart .brush rect {
  fill: rgba(20, 20, 40, 0.5);
  stroke: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
}

#submit_query {
  background: url("../img/search.png") no-repeat scroll center center #FECD57;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  height: 28px;
  text-indent: -99999em;
  transition: background 0.3s ease-in-out 0s;
  width: 70px;
  border: 2px solid #fff;
}

#submit_query:hover {
  border: 2px solid #2F5BB7;
}

*/

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(241, 242, 246); 
    text-align: center;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: #fff;
  border: black;
}

.input-group-addon {
  color: #fff;
  background-color: #ffce54;
  border-color: #96a0ad;
}

.dropdown-menu li a {
  padding: 5px 20px;
  color: #000;
}

.dropdown-menu li a:hover {
  padding: 5px 20px;
  color: #000;
}

.navbar {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
  color: rgb(51, 51, 51);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.modal-content{
  margin-top:150px;
}

.modal-header{
  border-bottom: 1px solid #e5e5e5;
}

#selectCrawler{
  padding-bottom:0px;
  padding-top:0px;
  margin-right:14px;
}

#downloadModel {
  padding-bottom:0px;
  padding-top:0px;
}

#addDomain, #build_model{
  margin-top:0px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#submit_add_crawler{
  margin-top:10px;
}

#currentDomain{
  cursor:pointer;
  margin-right:15px;
}

.navbar .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.input-group .form-control{
  position:static;
}

.control.glyphicon{
  position:static;
}

.pins{
  cursor:pointer;
  letter-spacing:4px;
  color:#E6E6E6;
}

.pinned{
  color:black;
}

.item{
  cursor:pointer;
}

textarea[name=seeds_text] {
    resize: none;
}

.seeds_button {
  margin-top: 10px;
  float:right;
}

.bk-bs-btn-success {
  float:right;
  background-color: #f6bb42;
  border-color: #f6bb42;
  margin-left:5px;
}

.bk-bs-btn-success:hover, .bk-bs-btn-success:active, .bk-bs-btn-success:focus{
  background-color: #ffce54;
  border-color: #ffce54;
						     }

.bk-widget-form-input {
    float:right;
    margin-left:5px;
    width: 35%;
}
