.help-dropdown {
  padding-bottom:30px;
  max-width: 180px;
}

.help-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,1);
  padding: 12px 16px;
  z-index: 1000;
}
.help-dropdown:hover .help-dropdown-content {
  display: block;
}

.bokeh_plot {
  padding-bottom:30px;
}

.bokeh_table {
  padding-bottom:10px;
}

#queries_plot {
  padding-top:70px
}
