body {
  font: 14px Verdana;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: black;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  text-align:justify;
  text-justify:inter-word;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "sofriapro",Arial,sans-serif;
}

div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Top level setup: page container, top panel, charts panel and gallery. */

#page_container {
  width: 100%;
  margin: 0 auto;
}

#cities_panel {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  margin-top: 15px;
  background: black;
}

#top_panel {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-shadow:0 0 10px 1px #4C4C4C;
}

/* General items: tooltip. */

div.tooltip {
  position: absolute;
  text-align: center;
  width: 170px;
  height: 12px;
  padding: 8px;
  font: 12px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
  color: black;
}

.tooltipCircle {
  fill: white;
  stroke: blue;
}

/* Top panel component: canvas container and its content. */

#canvas_container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 100%;
}

#map_container, #map_overlay, #map_overlay svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map_overlay {
  z-index: 10;
  pointer-events: none;
}

#map_overlay svg {
  font: 20px sans-serif;
  stroke: white;
  fill: white;
}

/* Top panel component: color scale. */
#color_scale {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 30px;
  height: 100%;
}

/* Top panel component: side panel. */
#side_panel {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  width: 340px;
  height: 800px;
  right: 15px;
  top: 150px;
  /*
  background: #1D2D32;
  background: #;
  background: #;
  */
  background: #1D2D32;
  box-shadow:0 0 10px 1px #4C4C4C;
}

/* Side panel component: filters. */
#filters_container {
  position: relative;
  width: 450px;
  height: 70px;
  background: #222;
  padding: 10px;
  vertical-align: top;
}

/* Filters components. */
#div_bandwidthslider,  #div_alphaslider {
  width: 280px;
  display: inline-block;
}

#filters_container input, #filters_container select, #div_colorbrewer, #div_dataclasses {
  width: 100px;
  display: inline-block;
}

/* Side panel component: animation control container. */
#anim_container {
  position: relative;
  width: 620px;
  height: 520px;
  background: #222;
  padding: 10px;
  margin-bottom: 10px;
}

/* Animation control container components: animation buttons. */
#play_button, #fw_button, #rw_button {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px 20px;
  cursor: hand;
  cursor: pointer;
}

/* Animation control container component: div animation slider. */
#div_animslider {
  width: 536px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 7px;
}


/* Gallery components. */
#gallery_control {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 74px;
  height: 36px;
  margin-right: 5px;
  margin-top: 5px;
}

#gallery img {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  box-shadow:0 0 1px 1px #222;
}

#gallery img.selected {
  box-shadow:0 0 1px 1px #666;
}

#gallery img:hover {
  cursor: hand;
  cursor: pointer;
  box-shadow:0 0 1px 1px #999;
}


#gallery_items {
  width: 100%;
  margin: 5px;
}


/* TODO remove! *********************************************************************************************/
#gallery_items .item {
  width: 158px;
  height: 200px;
  display: inline-block;
}

#gallery_items img {
  width: 158px;
  height: 158px;
}


#gallery_items text {
  font: 12px;
  fill: white;
}

#gallery_items .row {
  width: 1260px;
  height: 258px;
  margin-bottom: 5px;
  box-shadow:0 0 1px 1px #aaa;
  background: #2e2e2e;
}


#gallery_items .row svg {
  position: absolute;
}


.thumbs_list text {
  font: 12px;
  fill: white;
}

/* Calendar container items. */
#calendar_container {
  margin-top: 40px;
  width: 618px;
  height: 225px;
  font: 12px Verdana;
  display: inline-block;
}

#calendar {
  margin-top: 10px;
  display: inline-block;
}

/* Small multiples for day. */
#day_small_multiples_container {
  margin-left: 10px;
  vertical-align: top;
  width: 395px;
  height: 210px;
  fill: white;
  font: 12px Verdana;
}

.day {
  stroke: #ccc;
  fill-opacity: 0;
}

.month {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}

.monthTitle {
  text-anchor: middle;
  fill: white;
}

.dayOfWeekTitle {
  text-anchor: left;
  fill: white;
}

#day_line_chart_container {
  width: 600px;
  height: 130px;
}

/* Charts component items. */
#charts_panel div {
  background: rgba(30, 30, 30, 0.8);
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow:0 0 1px 1px #777;
}

/* Line chart component items. */
.line_chart {
  stroke: none;
  fill: white;
  background-color: #222;
}

.line_chart .axis path, .line_chart .axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.line_chart .line {
  fill: none;
  stroke: white;
  stroke-width: 1.0px;
}

.line_chart path.area {
  fill: #AFB7DA;
}

.line_chart .brush {
  fill: white;
  stroke: white;
}
